$color: #0c81c3;
$full-size: 100%;
$border-radius: 3rem;
.button {
  display: inline-block;
  position: relative;
  width: $full-size;
  padding: 1.5rem;
  overflow: hidden;
  outline: none;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: $border-radius;
  color: var(--color-white);
  cursor: pointer;
  transition: all .3s;
  z-index: 1;

  &:after,
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: $full-size;
  }
  &:after {
    width: $full-size;
    background-color: $color;
    border-radius: $border-radius;
    z-index: -2;
  }

  &:before {
    width: 0;
    background-color: darken($color, 15%);
    transition: all .3s;
    z-index: -1;
  }

  &:hover {
    color: var(--color-white);

    &:before {
      width: $full-size;
    }
  }

  &#{&}.--small {
    max-width: 20rem;
    width: 100%;
  }
}
