:root {
  // COLORS
  --color-primary: #b25009;
  --color-secondary: #eec846;
  --color-tertiary: #0c81c3;

  --color-black: #000000;
  --color-grey-dark: #595959;
  --color-grey: #929292;
  --color-grey-light: #f7f7f7;
  --color-white: #ffffff;

  --color-coffee: #9f784b;
  --color-orange: #b56c39;
  --color-lemon: #eadd6f;

  // FONTS
  --font-size-base: 1.6rem;
  --font-size-base-mobile: 1.4rem;
  --font-color-base: var(--color-grey-dark);

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  //  MAIN WIDTH
  --width-desktop: 90%;
}
