:root {
  // COLORS
  --color-primary: #b25009;
  --color-secondary: #eec846;
  --color-tertiary: #0c81c3;

  --color-black: #000000;
  --color-grey: #595959;
  --color-grey-light: #f7f7f7;
  --color-white: #ffffff;

  // FONTS
  --font-size-base: 16px;
  --font-size-base-mobile: 14px;
  --font-color-base: var(--color-grey);

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  //  MAIN WIDTH
  --width-desktop: 90%;
}
